* {
    box-sizing: border-box;
}

body {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

button {
    width: 150px;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background-color: #123ecf;
    color: white;
    text-align: left;
}

.button1 {
    transition: width 0.3s ease-in-out;
}

.button1:hover {
    cursor: pointer;
    width: 215px;
}

.button2 {
    transition: all 0.3s ease-in-out;
}

.button2:hover {
    cursor: pointer;
    width: 215px;
    background: #002398;
}

.button3 {
    transition: width 0.5s ease-in-out 0.5s;
}

.button3:hover {
    cursor: pointer;
    width: 215px;
    background: #002398;
}