* {
  box-sizing: border-box;
}

/* sj - 실행되지않음 : container의 전체 자식요소 중 제일 첫번째는 h1 태그이기 때문 */
.container p:first-child {
/* sj - 첫번째 요소를 선택하려면 아래와 같아야 함 */
/* .container *:first-child { */
/* .container h1:first-child { */
  background: red;
}

/* sj - container의 자식요소 p 태그 중에서 제일 첫번째 요소에 적용됨 */
.container p:first-of-type {
  background: blue;
}

.container p:last-of-type {
  background: yellow;
}

.container p:nth-of-type(2) {
  background: green;
}

/* sj - 실행되지않음 */
/* .container span:first-child { */
.container span:first-of-type {
  font-weight: 600;
  text-decoration: underline;
}